<div class="page-header">
  <h1>Serviço de Banho a Ouro e Prata Ipanema</h1>
  <p class="lead">Banhamos sua mercadoria Bruta com os milésimos e cor da sua preferência<br>Também temos Venda de brutos e <a href="http://www.catalogmachine.com/IpanemaJoiasFolheadasAtacado/catalogs/novidades-ipanema-joias-setembro-copy.html">Jóias folheadas em Atacado</a></p>
</div>

<div class="container">
  <h2>Faça sua Cotação de Galvanoplastia Online!</h2>

  <h4><br>Cotação do Ouro Hoje: R${{goldPrice}}</h4>

  <div>
    <label>Peso (gr):</label>
    {{input type="text" value=weight placeholder="Peso (gr)"}}
  </div>

  <div>
    <label>Cor:</label>
    {{view Ember.Select
    contentBinding="colors"
    valueBinding="color"
    }}
  </div>

  <div>
    <label>Teor (mm):</label>
    {{input type="text" value=goldContent placeholder="Teór (mm)"}}
  </div>

  <div>
    <label>
      Verniz protetor Italiano
    </label>
    {{view Ember.Checkbox checkedBinding="protector"}}
  </div>

  <div class="text">
    <h1>Preço: R${{price}} </h1>
  </div>
  <p>*Os preços variam de acordo com a cotação do ouro do dia</p>
</div>

<hr>

<div class="container">

  {{#if submitted }}
  <h2> Obrigado! Entraremos em contato em breve</h2>
  {{else}}
  <h4>Para maiores informações, envie-nos seus dados e entraremos em contato o mais rápido possível!</h4>
  <div class="input string">
    <label>Nome</label>
    {{view Ember.TextField valueBinding='client.name' name='name' viewName='nameField'}}
  </div>
  <div class="input string">
    <label>E-mail</label>
    {{view Ember.TextField valueBinding='client.phone_number' name='phone_number' viewName='phoneNumberField'}}
  </div>
  <div class="input string">
    <label>Telefone</label>
    {{view Ember.TextField valueBinding='client.email' name='email' viewName='emailField'}}
  </div>
  <button class="btn" {{action save}}>Enviar</button>
  {{/if}}
</div>
<div class="container">

  <hr>

  <div class=footer>
    <h4>Você também pode nos contatar através do e-mail <a href="mailto:contato@ipmfl.com">contato@ipmfl.com</a> ou no telefone <a href="tel:+55411934447832">+55 19 34447832</a></h4>

    <p><b>Endereço Ipanema Folheados</b><br>Avenida Ambrósio Fumagalli, 1735<br>Limeira-SP<br>13485-333<br>Brasil</p>
  </div>
</div>
