<h1>Serviço de Folheado a ouro Ipanema</h1>
<h2>Banhamos sua mercadoria Bruta com os milésimos e cor da sua preferência<br>Também temos venda de peças brutas e folheadas!</h2>

<div>
  <label>Peso (gr):</label>
  {{input type="text" value=weight placeholder="Peso (gr)"}}
</div>

<div>
  <label>Teor (mm):</label>
  {{input type="text" value=goldContent placeholder="Teór (mm)"}}
</div>

<div>
  {{view Ember.Select
       contentBinding="colors"
       valueBinding="color"
  }}
</div>

<div>
  <label>
    Verniz
  </label>
  {{view Ember.Checkbox checkedBinding="protector"}}
</div>

<div class="text">
  <h1>Preço: {{price}} </h1>
</div>


{{#if submitted }}
  <h2> Obrigado! Entraremos em contato em breve</h2>
{{else}}
<h4>Para maiores informações, envie-nos seus dados e entraremos em contato o mais rápido possível!</h4>
  <div class="input string">
    <label>Nome</label>
    {{view Ember.TextField valueBinding='client.name' name='name' viewName='nameField'}}
  </div>
  <div class="input string">
    <label>E-mail</label>
    {{view Ember.TextField valueBinding='client.phone_number' name='phone_number' viewName='phoneNumberField'}}
  </div>
  <div class="input string">
    <label>Telefone</label>
    {{view Ember.TextField valueBinding='client.email' name='email' viewName='emailField'}}
  </div>
  <div class="form-actions">
    <button class="btn btn-large btn-primary" {{action save}}>Enviar</button>
  </div>
{{/if}}
<h4>Você também pode nos contatar através do e-mail <a href="mailto:contato@ipmfl.com">contato@ipmfl.com</a> ou no telefone +55 19 34447832</h4>

<div class=footer>
  <p><em>Endereço Ipanema Folheados</em><br>Avenida Ambrósio Fumagalli, 1735<br>Limeira-SP<br>13485-333<br>Brasil</p>    
</div>
