<h1>Atacado Joias</h1>
<div>
  <label>Peso (gr):</label>
  {{input type="text" value=weight placeholder="Peso (gr)"}}
</div>

<div>
  <label>Teór (mm):</label>
  {{input type="text" value=goldContent placeholder="Teór (mm)"}}
</div>

<div>
  {{view Ember.Select
       contentBinding="colors"
       valueBinding="color"
  }}
</div>

<div>
  <label>
    Verniz
  </label>
  {{view Ember.Checkbox checkedBinding="protector"}}
</div>

<div class="text">
  <h1>Preço: {{price}} </h1>
</div>

{{#if submitted }}
  <h2> Obrigado! Um representante entrará en contacto</h2>
{{else}}
  <div class="input string">
    <label>Nome</label>
    {{view Ember.TextField valueBinding='client.name' name='name' viewName='nameField'}}
  </div>
  <div class="input string">
    <label>Telefono</label>
    {{view Ember.TextField valueBinding='client.phone_number' name='phone_number' viewName='phoneNumberField'}}
  </div>

  <div class="input string">
    <label>Telefono</label>
    {{view Ember.TextField valueBinding='client.email' name='email' viewName='emailField'}}
  </div>
  <div class="form-actions">
    <button class="btn btn-large btn-primary" {{action save}}>Enviar</button>
  </div>
{{/if}}
