<!DOCTYPE html>
<html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44120535-1', 'mercajoias.com.br');
  ga('send', 'pageview');

</script>
<head>
  <title>Banho de brutos em Limeira. Folheado a Ouro e Prata |Ipanema Folheados</title>
  <meta name="description" content="Banhamos suas peças nos milésimos e cor da sua preferência com opção de Verniz protetor Italiano. Processo Niquel-free garantido. Faça sua Cotação Online!">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <script type="text/javascript">
    _AtacadoConf = {};
    _AtacadoConf.GoldPrice = <%= GoldPrice.last.value %>;
  </script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main" class="container">
    <noscript>
      <%= yield %>
    </noscript>
  </div>
</body>
</html>
